body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.announcements-area {
    grid-row: 2 / 9;
    grid-column: 8 / 9;
}

.card-area {
    grid-row: 2 / 9;
    grid-column: 2 / 8;
}

.card-grid {
    display: grid;
    background-color: teal;
    height: 100%;
    grid-template: repeat(3, 1fr) / repeat(2, 0.6fr);
    gap: 8px;
}

.grid-container {
    display: grid;
    height: 100%;
    background-color: gray;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr)
}

.header-area {
    grid-row: 1 / 2;
    grid-column: 2 / 9;
}

.header-area-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.header-area-profile-options {
    display: flex;
    align-items: center;
}

.header-area-profile-options > div {
    margin: auto 4px;
}

.header-area-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.side-menu {
    grid-row: 1 / 9;
    grid-column: 1 / 2;
}

.side-menu-options {
    display: flex;
    flex-direction: column;
}

.side-menu-options > div {
    margin: 8px;
}