.body {
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace;
}

button, input {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -2px 8px 4px black;
    height: 100px;
}


/* Main content */
.add-button {
    border: none;
    padding: 8px;
    background: rgb(240, 240, 240);
    border-radius: 8px;
    font-family: cursive;
    font-size: 24px;
}

.add-button:hover {
    filter: brightness(90%);
}

.book-card {
    display: flex;
    flex-direction: column;
    border: black 2px solid;
    border-radius: 8px;
    background-color: aliceblue;
}

.book-card-buttons {
    display: flex;
    margin: 16px 0;
    justify-content: space-evenly;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 32px;
    gap: 32px;
}

.main {
    text-align: center;
    margin: 24px;
}

/* Modal content */
.input {
    border: none;
    border-bottom: 1px solid black;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.read-book-bool {
    display: flex;
    gap: 12px;
}