@font-face {
    font-family: "norse";
    src: 
        url("fonts/norse-bold-webfont.woff2") format("woff2"),
        url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

body, html {
    height: 100%;
}

.block {
    display: block;
}

.create-account-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: sans-serif;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.form-styles {
    background-color: bisque;
}

.logo {
    font: 5rem "norse", sans-serif;
    height: 150px;
    background: rgba(1, 1, 1, .3);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
}

.main-content {
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 128px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shrink {
    height: 7rem;
}


.visual-aside {
    width: 66%;
    background: #fff url(images/background-img.jpg);
}